<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         errorOnRisky="true"
         errorOnDeprecated="true">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>

    <logging>
        <log type="junit" target="tests/logs/junit.xml"/>
    </logging>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>
</phpunit>
